.explore_wrapper {
  width: 250px;
  background-color: #fff;
  padding: 10px 30px;
  @include displayCenter(center, flex-start);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover {
    background-color: rgb(31, 136, 233);
    .title {
      color: #fff;
    }
  }
  .img {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .title {
    font-weight: 600;
    color: black;
  }
}
